<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head')%>
<body>
    <h1>Book Details</h1>
        <a href="/"><button>To Library</button></a>
    <%- include('./detail', {book: results}) %>
    <button class="viewBut">Update Details</button>
    <form class="deleteForm" action="/books/<%= results.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="deleteBut">Delete Book</button>
    </form>
    <%- include('./edit', { element: results, formAction: 'Update' }) %>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>